.Projects {
  /* width: 100%; */
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.Projects__feed {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 35px;
}

.CardProject {
  background-color: var(--container-color);
  border-radius: var(--mb-1);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
  padding: var(--mb-1);

  transition: transform var(--ts-soft);
  cursor: pointer;
}

.CardProject img {
  border-radius: var(--mb-1-5);
}

.CardProjects__header {
  width: 100%;
  height: 250px;
  margin-bottom: var(--mb-1);
}

.CardProjects__header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.CardProjects__body {
  display: grid;
  grid-template-columns: 1fr 15%;
  justify-items: center;
}

.CardProjects__body h3 {
  font-size: var(--normal-font-size);
}

.CardProjects__body span {
  font-weight: var(--font-medium);
}

.CardProjects__body div h3 {
  font-size: var(--h3-font-size);
}

.CardProjects__body div p {
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.btnExternal {
  max-width: 25px;
  max-height: 25px;
  display: inline-block;
  cursor: pointer;
  transition: transform var(--ts-soft);

  background-color: transparent;
  border: none;
}

.btnExternal img {
  width: 100%;
  height: 100%;
}

.btnExternal:hover {
  transform: scale(125%);
}

@media screen and (max-width: 992px) {
  .Projects__feed {
    padding: 0 var(--mb-1-5) 0 var(--mb-1-5);
  }  
}

@media screen and (max-width: 768px) {
  .Projects {
    margin-left: 0px;
  }

  .Projects__feed {
    display: flex;
    flex-direction: column;
  }

  .CardProject {
    min-width: 430px;
    max-width: 430px;
    margin: auto;
  }

  .CardProjects__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .CardProjects__body img {
    margin-top: var(--mb-1);
  }

  .btnExternal {
    max-width: 30px;
    max-height: 30px;
  }
}

@media screen and (max-width: 576px) {
  .CardProject {
    min-width: inherit;
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 350px) {
}
